<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.erp.dao.IProductDao">

	<resultMap id="ProductResultMap" type="Product">
		<id property="no" column="SSNO"/>
		<result property="name" column="SNAME"/>
		<result property="price" column="PRICE"/>
		<result property="qty" column="QTY"/>
	</resultMap>

	<insert id="insert" keyColumn="SSNO" keyProperty="no" useGeneratedKeys="true">
	insert into erp_product (SNAME,PRICE,QTY) values(#{name},#{price},#{qty})
	</insert>
	
	<select id="selectByNo" parameterType="_int" resultMap="ProductResultMap">
	select * from erp_product where SSNO=#{no}
	</select>
	
	
	<select id="selectListByAllWithPage" resultMap="ProductResultMap">
	select * from erp_product limit #{start},#{rows}
	</select>
	
	<select id="selectCountByAll" resultType="_int">
	select count(SSNO) from erp_product
	</select>
	
	<select id="selectTotalAmountByAll" resultType="_double">
	select sum(PRICE*QTY) from erp_product
	</select>

</mapper>